#heading {
    text-align: center;
    margin-bottom: 50px;
    padding-top: 90px;
}

#main {
    align-items: center;
    justify-content: center;
}

#mainForm {
    background-color: rgb(5, 14, 56);
    border: 5px solid rgb(25, 79, 92);
    margin-bottom: 30px;
}

#buttonStyle {
    text-align: center;
    margin-top: 30px;
}

#cancelButton {
    width: 77px;
} 

#submitButton{
    margin-left: 20px;
}

#columnTwo{
    padding-top: 10px;
}

#notes{
    height: 77px;
}

.main-container {
    margin: auto;
    color: #f0f8ff;
}

.form-control{
    width: 94%;
}

.communication {
    display: flex;
    justify-content:flex-start;
    flex-direction: row;
}

.form-control:hover {
    background-color: rgb(213, 212, 212);
    cursor: pointer;   
}

.genderValue{
    display: flex;
    justify-content:flex-start;
    flex-direction: row;
}

.row{
    margin-left: 0;
}